<ion-view hide-nav-bar="false">
  <ion-content padding="true" class="">
    <div class="card">
      <div class="card-header">
        {{ 'occupations_label' | translate }}
      </div>

      <ul>
      <span data-ng-repeat="occupation1 in occupations.children">
        <li><strong>{{occupation1.code}}.</strong> {{occupation1.name}}</li>
        <br />
        <span data-ng-repeat="occupation2 in occupation1.children">
          <li><strong>{{occupation2.code}}.</strong> {{occupation2.name}}</li>
          <span data-ng-repeat="occupation3 in occupation2.children">
            <li><strong>{{occupation3.code}}.</strong> {{occupation3.name}}</li>
            <span data-ng-repeat="occupation4 in occupation3.children">
              <li><strong>{{occupation4.code}}.</strong> {{occupation4.name}}</li>
            </span>
            <br />
          </span>
          <br />
        </span>
        <br />
      </span>
      </ul>
      <div class="padding">
        <a data-ng-click="goToWork()" class="button button-block">{{ 'continue' | translate }}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
