<ion-view hide-nav-bar="false">
  <ion-content padding="true" class="">
    <div class="card">
      <div class="card-header">
        {{ 'occupations_label' | translate }}
      </div>

      <span data-ng-repeat="occupation1 in occupations.children">
        {{occupation1.name}}
        <span data-ng-repeat="occupation2 in occupation1.children">
          {{occupation2.name}}
          <span data-ng-repeat="occupation3 in occupation2.children">
            {{occupation3.name}}
            <span data-ng-repeat="occupation4 in occupation3.children">
              {{occupation4.name}}
            </span>
          </span>
        </span>
      </span>

      ----------

      <span data-ng-repeat="occupation in occupations.children">
        <o c c upation-group items="occupation" />
      </span>
      <div class="padding">
        <a data-ng-click="goToWork()" class="button button-block">{{ 'continue' | translate }}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
