<ion-view hide-nav-bar="false">
  <ion-content padding="true" class="">
    <div class="card">
      <div class="card-header">{{ 'about_title' | translate }}</div>
      <p>{{ 'about_body' | translate }}</p>
      <div class="divider"></div>
      <label class="label" for="phoneNumber">{{ 'phone_label' | translate }}</label>
      <form class="list">
        <input
          class="input-text"
          id="phoneNumber"
          ng-model="phoneNumber"
          placeholder="Ditt nummer"
          type="text" />
      </form>
      <div class="error" ng-show="errors.phoneNumberMissing">{{ 'phone_error_missing' | translate }}</div>
      <div class="error" ng-show="errors.phoneNumberBadFormat">{{ 'phone_error_malformed' | translate }}</div>
      <a
        class="button button-block"
        ng-click="login(phoneNumber)">
        {{ 'continue' | translate }}
      </a>
    </div>
  </ion-content>
</ion-view>
