<ion-view hide-nav-bar="false">
  <ion-content padding="true" class="">
    <div class="card">
      <div class="card-header">{{ 'about_title' | translate }}</div>
      <p>{{ 'about_body' | translate }}</p>
      <div class="divider"></div>
      <label class="label" for="phoneNumber">Fyll i ditt telefonnummer</label>
      <form class="list">
        <input
          class="input-text"
          id="phoneNumber"
          ng-model="phoneNumber"
          placeholder="Ditt nummer"
          type="text" />
      </form>
      <div class="error" ng-show="errors.phoneNumberMissing">Telefonnummer saknas</div>
      <div class="error" ng-show="errors.phoneNumberBadFormat">Telefonnummer är felformaterat</div>
      <a
        class="button button-block"
        ng-click="login(phoneNumber)">
        Gå vidare
      </a>
    </div>
  </ion-content>
</ion-view>
