<ion-view hide-nav-bar="false">
    <ion-content overflow-scroll="true" padding="true" class="">
        <div>
            <h1>{{ 'thanks_title' | translate }}</h1>
        </div>
        <p>
          {{ 'thanks_body' | translate }}
        </p>
      <ion-item>
        <textarea onclick="this.select()">
{{ 'share_body' | translate }}
        </textarea>
      </ion-item>

        <a href="http://competency.se" class="button button-stable button-block ">{{ 'read_more' | translate }}</a>
    </ion-content>
</ion-view>
