<ion-view hide-nav-bar="false">
  <ion-content padding="true" class="">
    <div class="card">
      <div class="card-header">
        {{ 'skills_label' | translate }}
      </div>
      <ion-list>
        <span data-ng-repeat="prof in profs">
          <ion-checkbox class="ion-checkbox__level0" data-ng-checked="prof.selected" data-ng-model="prof.selected" data-ng-click="loadChildren(prof)">{{prof.name}}</ion-checkbox>
          <span data-ng-show="prof.selected">
            <ion-checkbox class="ion-checkbox__level1" data-ng-checked="child.selected" data-ng-model="child.selected" data-ng-repeat="child in children | filter:{parentId:prof.id}">{{child.name}}</ion-checkbox>
          </span>
        </span>
      </ion-list>
      <div class="padding">
        <a data-ng-click="goToWork()" class="button button-block">{{ 'continue' | translate }}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
