<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="false" class="">
        <div class="padding">
          <h1>Välj yrken du har erfarenhet ifrån</h1>
        </div>
        <div data-ng-repeat="prof in profs[0] | filter:isSelected ">
          <h2>{{prof._source.namn}}</h2>
          <ion-list>
              <ion-checkbox data-ng-repeat="subProf in profs[prof._source.id]">{{subProf._source.namn}}</ion-checkbox>
          </ion-list>
        </div>
        <div class="padding">
          <a ui-sref="thankYou" class="button button-stable button-block ">Spara</a>
        </div>
    </ion-content>
</ion-view>
