<ion-view hide-nav-bar="false">
  <ion-content padding="true" class="">
    <div class="card">
      <div class="card-header">
        Välj de yrkesområden som du har erfarenhet ifrån
      </div>
      <ion-list>
          <ion-checkbox data-ng-checked="{{branches.indexOf(prof._source.id) > -1}}" data-ng-click="selectBranch(prof._source.id)" data-ng-repeat="prof in profs">{{prof._source.namn}}</ion-checkbox>
      </ion-list>
      <div class="padding">
        <a data-ng-click="goToWork()" class="button button-block">Fortsätt</a>
      </div>
    </div>
  </ion-content>
</ion-view>
