<ion-view hide-nav-bar="false">
    <ion-content overflow-scroll="true" padding="true" class="">
        <div class="card">
          <div class="card-header">
            Välj yrken du har erfarenhet ifrån
          </div>
          <div data-ng-repeat="prof in profs[0] | filter:isSelected ">
            <h2>{{prof._source.namn}}</h2>
            <ion-list>
                <ion-checkbox data-ng-click="selectProf(subProf._source.id)" data-ng-repeat="subProf in profs[prof._source.id]">{{subProf._source.namn}} ({{subProf._source.antal_platsannonser}})</ion-checkbox>
            </ion-list>

          </div>
            <a data-ng-click="save()" class="button button-block ">Spara</a>
        </div>
    </ion-content>
</ion-view>
